@import '../../styles/variables.scss';

.container {
  @media screen and (min-width: $md) {
    display: flex;
  }
  padding: 67px 20px 0 20px;
  color: #fff;
  max-width: $container;
  width: 100%;
  margin: 0 auto;
  // overflow: hidden;
  position: relative;
}

.serviceWrapper {
  @media screen and (min-width: $md) and (max-width: 1074px) {
    width: 100%;
    margin-right: auto;
    height: 100%;
    max-width: 1070px;
    margin-left: auto;
    padding: 0 25px;
    margin-bottom: 108px;
    display: flex;
    justify-content: space-between;
  }
  @media screen and (min-width: $xl) {
    width: 100%;
    margin-right: auto;
    height: 100%;
    margin-left: auto;
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
  }
  height: 100%;
}

.title {
  font-family: Gilroy, sans-serif;
  text-transform: lowercase;
  font-size: 48px;
  font-weight: 500;
  line-height: 1.26;
  @media screen and (min-width: $md) {
    opacity: 0;
    margin: 0;
    height: 0;
    margin: 0;
    width: 0;
  }
  z-index: 10;
  margin-top: 0;
  margin-bottom: 38px;
  opacity: 1;
  text-align: center;
}

.servicesList {
  @media screen and (min-width: $md) {
    width: 53%;
    font-size: 32px;
    font-weight: 500;

    margin: 0;

    z-index: 11;
  }
  font-family: Gilroy, sans-serif;
  text-transform: lowercase;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.26;
  display: flex;
  flex-direction: column;
}

.servicesLink {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  z-index: 55;
  margin-bottom: 32px;
  cursor: pointer;
  fill: #ffffff;
  transition: all 150ms ease-out 110ms;
  &:hover {
    color: #ffa837;
    fill: #ffa837;
    transform: scale(1.01);
  }
}
.inputBtn {
  margin-right: 15px;
  width: 20px;
  height: 20px;
}

.servicesLink:nth-child(n) {
  @media screen and (max-width: $md) {
    margin-bottom: 45px;
  }
}

.servicesLink:nth-child(2) {
  @media screen and (max-width: $md) {
    max-width: 90%;
  }
}
.servicesLink:nth-child(3) {
  @media screen and (max-width: $md) {
    max-width: 60%;
  }
}

.servicesLink:nth-child(4) {
  @media screen and (max-width: $md) {
    width: 80%;
  }
}
.imageContainer {
  @media screen and (min-width: $md) {
    width: 50%;
    // position: relative;
  }
  // width: 50%;
}

.imageWrapper {
  position: absolute;
  animation: slide-in-blurred-left 0.9s cubic-bezier(0.23, 1, 0.32, 1) both;
  width: 450px;
  top: 22%;
  right: -55%;
  z-index: 10;
  @media screen and (min-width: $xl) {
    position: absolute;
    top: 56px;
    left: 5%;
  }
  @media screen and (min-width: $md) and (max-width: 1074px) {
    position: absolute;
    top: 16%;
    left: 0%;
  }
  @media screen and (min-width: 640px) and (max-width: 740px) {
    position: absolute;
    left: 60%;
  }
}
.image {
  width: 100%;
  height: 100%;
}

@keyframes slide-in-blurred-left {
  0% {
    -webkit-transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
    transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) scaleY(1) scaleX(1);
    transform: translateX(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}
