.single-blog {
  display: flex;
  flex-direction: column;
  gap: 24px;
  text-align: center;
  max-width: 671px;
  margin: 0 auto;
  color: #fff;
  padding: 37.5px 20px;

  &__img {
    display: flex;
    justify-content: center;

    &-content {
      max-width: 100%;
      height: 100%;
    }
  }

  &__title {
    margin: 0;
    font-family: Gilroy, sans-serif;
    font-weight: 500;
    font-size: 48px;
    line-height: 58px;
  }

  &__description {
    margin: 0;
    font-family: Helvetica, sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 28.8px;
  }
}
