@import '../../styles/variables';

.single-blog {
  padding: 67px 20px 0 20px;
  color: #fff;
  max-width: $container;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  @media (min-width: $xl) {
    width: 100%;
  }

  &__container {
    display: flex;
    margin: 0 auto;
    max-width: 671px;
    gap: 24px;
    flex-direction: column;
    text-align: center;
    padding: 37.5px 20px;
  }

  &__go-back {
    position: absolute;
    left: 0;
    top: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #393c4e;
    width: 44.26px;
    height: 44.26px;
    border-radius: 50%;
    cursor: pointer;
    margin: 0 20px;
  }

  &__img {
    display: flex;
    justify-content: center;

    &-content {
      max-width: 100%;
      height: 100%;
    }
  }

  &__title {
    margin: 0;
    font-family: Gilroy, sans-serif;
    font-weight: 500;
    font-size: 48px;
    line-height: 58px;
    &_phone {
      font-size: 34px;
      display: block;
      margin: 0 40px;

      @media (min-width: $xl) {
        display: none;
      }
    }

    &_laptop {
      display: none;

      @media (min-width: $xl) {
        display: block;
      }
    }
  }

  &__description {
    margin: 0;
    font-family: Helvetica, sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 28.8px;
  }

  &__description2 {
    text-align: left;
    margin: 0;
    font-family: Helvetica, sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 28.8px;
  }
}
.backBtn {
  position: absolute;
  top: 3%;
  left: 3%;
  fill: #fff;
}
.svgBtn {
  width: 40px;
  height: 40px;
  transform: rotate(180deg);
  &:hover,
  :focus {
    animation: rotate-scale 0.65s linear both;
    fill: #ffa837;
  }
}
.image {
  width: 100%;
  height: 100%;
}

@keyframes rotate-scale {
  0% {
    -webkit-transform: scale(1) rotateZ(0);
    transform: scale(1) rotateZ(0);
  }
  50% {
    -webkit-transform: scale(1) rotateZ(90deg);
    transform: scale(1.5) rotateZ(90deg);
  }
  100% {
    -webkit-transform: scale(1) rotateZ(180deg);
    transform: scale(1) rotateZ(180deg);
  }
}
