.container {
  font-size: large;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: auto;
  padding: 0 25px;
  height: 100%;
  flex: 1;
}

.socialList {
  display: flex;
  justify-content: space-between;
}

.title1 {
  font-family: Gilroy, sans-serif;
  font-size: 90px;
  font-weight: 700;
  margin: 0;
  text-transform: lowercase;

  @media screen and (max-width: 961px) {
    font-size: 48px;
  }

  @media screen and (max-width: 961px) {
    font-size: 36px;
  }
}

.title1 span {
  color: #ffa737;
}

.title2 {
  font-size: 32px;
  font-weight: 400;
  margin: 0;

  @media screen and (max-width: 961px) {
    font-size: 24px;
  }
}

.titleDark {
  color: #ffa737;
  margin-top: 80px;
  @media screen and (max-width: 961px) {
    font-size: 28px;
  }
}
