.container {
  font-size: large;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: auto;
  padding: 0 25px;
  height: 100%;
  flex: 1;
}

// .socialList {
//   display: flex;
//   justify-content: space-between;
// }

.title1 {
  animation: bounce-in-top 1.6s both;
  font-family: Gilroy, sans-serif;
  font-size: 90px;
  font-weight: 700;
  margin: 0;
  text-transform: lowercase;

  @media screen and (max-width: 961px) {
    font-size: 48px;
  }

  @media screen and (max-width: 961px) {
    font-size: 36px;
  }
}

.title1 span {
  color: #ffa737;
}

.title2 {
  font-size: 32px;
  font-weight: 400;
  margin: 0;

  @media screen and (max-width: 961px) {
    font-size: 24px;
  }
}

.titleDark {
  color: #ffa737;
  margin-top: 80px;
  @media screen and (max-width: 961px) {
    font-size: 28px;
  }
}

@keyframes bounce-in-top {
  0% {
    -webkit-transform: translateY(-500px);
    transform: translateY(-500px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateY(-65px);
    transform: translateY(-65px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateY(-28px);
    transform: translateY(-28px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
