@import '../../styles/variables.scss';

.container {
  padding: 67px 20px 0 20px;
  color: #fff;
  max-width: $container;
  margin: 0 auto;
  overflow: hidden;

  @media screen and (min-width: $md) {
    display: flex;
    // justify-content: center;
    // align-items: center;
    // width: 100vw;
    // height: 100vh;
  }

  // color: #ffffff;
  // padding: 20px;
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
  // align-items: center;
  // width: 100vw;
  // height: 100vh;
  position: relative;
}

.leftSide {
  @media screen and (min-width: $md) {
    display: flex;
    overflow: hidden;

    // width: 100%;
    // margin-right: 45px;
    // height: 100%;
    // max-width: 1070px;
    // margin-left: 26px;
    // padding: 0 25px;
    // margin-top: 140px;
    // margin-bottom: 80px;
  }
  // position: relative;
  // height: 100%;
}
.title {
  font-family: Gilroy, sans-serif;
  text-transform: lowercase;
  font-size: 48px;
  font-weight: 500;
  line-height: 1.26;
  @media screen and (min-width: $md) {
    opacity: 0;
    margin: 0;
    height: 0;
    margin: 0;
    width: 0;
  }
  z-index: 10;
  margin-top: 0;
  margin-bottom: 38px;
  opacity: 1;
  text-align: center;
}

.aboutUsInfo {
  @media screen and (min-width: $md) {
    width: 50%;
  }

  display: flex;
  flex-direction: column;
}

.description:nth-child(n) {
  @media screen and (max-width: $md) {
    margin-bottom: 45px;
  }
}

.description:nth-child(2) {
  @media screen and (max-width: $md) {
    max-width: 90%;
  }
}
.description:nth-child(3) {
  @media screen and (max-width: $md) {
    max-width: 55%;
  }
}

.description:nth-child(4) {
  @media screen and (max-width: $md) {
    width: 80%;
  }
}
.description {
  @media screen and (min-width: $md) {
    font-size: 24px;
    font-weight: 400;
    line-height: 1.26;
  }
  font-size: 16px;
  font-weight: 400;
  line-height: 1.26;
}

.rightSide {
  // position: fixed;
  // top: 38%;
  // right: -50%;
  // width: 95%;
  // overflow: hidden;
  @media screen and (min-width: $md) {
    // width: 50%;
  }
}

.imageContainer {
  animation: roll-in-right 1.8s ease-out both;
  // animation: slide-in-blurred-left 0.6s cubic-bezier(0.23, 1, 0.32, 1) both;
  position: absolute;
  top: 45%;
  left: 48%;
  // width: 100%;
  width: 315px;
  @media screen and (min-width: 640px) and (max-width: 768px) {
    position: absolute;
    // top: 50%;
    left: 68%;
  }

  @media screen and (min-width: $md) {
    top: 20%;
    left: 55%;
    width: 500px;
  }
}

@keyframes slide-in-blurred-left {
  0% {
    -webkit-transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
    transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) scaleY(1) scaleX(1);
    transform: translateX(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}

@keyframes roll-in-right {
  0% {
    -webkit-transform: translateX(800px) rotate(540deg);
    transform: translateX(800px) rotate(540deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) rotate(0deg);
    transform: translateX(0) rotate(0deg);
    opacity: 1;
  }
}
