.container {
  max-width: 1070px;
  width: 100%;
  font-size: 24px;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  text-align: left;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  margin-left: auto;
  margin-right: auto;
  padding-left: 25px;
  //   backdrop-filter: blur(10px);
}
.title {
  @media screen and (min-width: 960px) {
    opacity: 0;
    margin: 0;
    height: 0;
  }
  z-index: 10;
  margin-top: 114px;
  opacity: 1;
  text-align: center;
  color: #ffa737;
}
.leftSide {
  width: 50%;
  margin-right: 45px;
}

.rightSide {
  width: 50%;
}
.image {
  margin-left: 40px;
}
