@import '../../styles/variables.scss';

.container {
  padding: 67px 20px 0 20px;
  color: #fff;
  max-width: $container;
  margin: 0 auto;
  overflow: hidden;

  @media screen and (min-width: $md) {
    display: flex;
    // justify-content: center;
    // align-items: center;
    // width: 100vw;
    // height: 100vh;
  }

  // color: #ffffff;
  // padding: 20px;
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
  // align-items: center;
  // width: 100vw;
  // height: 100vh;
  position: relative;
}

.leftSide {
  @media screen and (min-width: $md) {
    display: flex;
    overflow: hidden;

    // width: 100%;
    // margin-right: 45px;
    // height: 100%;
    // max-width: 1070px;
    // margin-left: 26px;
    // padding: 0 25px;
    // margin-top: 140px;
    // margin-bottom: 80px;
  }
  // position: relative;
  // height: 100%;
}
.title {
  font-family: Gilroy, sans-serif;
  text-transform: lowercase;
  font-size: 48px;
  font-weight: 500;
  line-height: 1.26;
  @media screen and (min-width: $md) {
    opacity: 0;
    margin: 0;
    height: 0;
    margin: 0;
    width: 0;
  }
  z-index: 10;
  margin-top: 0;
  margin-bottom: 38px;
  opacity: 1;
  text-align: center;
}

.aboutUsDescr {
  @media screen and (min-width: $md) {
    width: 50%;
  }

  display: flex;
  flex-direction: column;
}

.descpiption:nth-child(n) {
  @media screen and (max-width: $md) {
    margin-bottom: 45px;
  }
}

.descpiption:nth-child(2) {
  @media screen and (max-width: $md) {
    max-width: 90%;
  }
}
.descpiption:nth-child(3) {
  @media screen and (max-width: $md) {
    max-width: 55%;
  }
}

.descpiption:nth-child(4) {
  @media screen and (max-width: $md) {
    width: 80%;
  }
}
.descpiption {
  @media screen and (min-width: $md) {
    font-size: 24px;
    font-weight: 400;
    line-height: 1.26;
  }
  font-size: 16px;
  font-weight: 400;
  line-height: 1.26;
}

.rightSide {
  // position: fixed;
  // top: 38%;
  // right: -50%;
  // width: 95%;
  // overflow: hidden;
  @media screen and (min-width: $md) {
    // width: 50%;
  }
}

.imageContainer {
  position: absolute;
  top: 48%;
  left: 48%;
  // width: 100%;
  width: 315px;

  @media screen and (min-width: $md) {
    top: 20%;
    left: 55%;
    width: 500px;
  }
}
