html,
body {
  padding: 0;
  margin: 0;
  font-family: Helvetica, sans-serif;
}

body {
  position: relative;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
}
@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy/Gilroy-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy/Gilroy-Medium.ttf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy/Gilroy-Bold.ttf');
  font-weight: 700;
  font-style: normal;
}

/* @font-face {
  font-family: "Gilroy";
  src: url('');
  font-weight: normal;
  font-style: italic;
} */
