@import '../../styles/variables';

.blog {
  padding: 67px 20px 0 20px;
  color: #fff;
  max-width: $container;
  margin: 0 auto;

  &__title {
    font-family: Gilroy, sans-serif;
    font-weight: 700;
    font-size: 50px;
    line-height: 60.42px;
    margin: 0 0 20px 0;

    @media (min-width: $md) {
      font-size: 70px;
      line-height: 91.42px;
      margin-bottom: 0;
    }

    @media (min-width: $xl) {
      font-size: 90px;
      line-height: 111.42px;
    }
  }

  &__description {
    font-family: Helvetica, sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 16.6px;
    margin: 0;

    @media (min-width: $xl) {
      font-size: 20px;
      line-height: 21.6px;
    }
  }

  &__cards {
    margin: 40px 0;

    @media (min-width: $md) {
      display: flex;
      justify-content: space-between;
      margin: 30px 0 13px 0;
    }

    @media (min-width: $xl) {
      display: flex;
      justify-content: space-between;
      margin: 65px 0;
    }
  }
}
