@import '../../styles/variables.scss';

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1200;
  animation: scale-up-ver-top 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.modal {
  @media screen and (min-width: $md) {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.backBtn {
  position: absolute;
  top: 3%;
  right: 3%;
}
.svgBtn {
  width: 40px;
  height: 40px;
  transform: rotate(180deg);
  &:hover,
  :focus {
    animation: rotate-scale-up 0.65s linear both;
    // transform: rotate(180deg) scale(1.2);

    fill: #ffa837;
  }
}
.description {
  font-family: Gilroy, sans-serif;
  text-transform: lowercase;
  font-size: 32px;
  font-weight: 500;
  line-height: 1.26;
  font-size: 32px;
  font-weight: 600;
  line-height: 1.26;
  text-align: center;
  @media screen and (min-width: $md) {
    font-size: 48px;
  }
}

@keyframes scale-up-ver-top {
  0% {
    -webkit-transform: scaleY(0.4);
    transform: scaleY(0.4);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
  }
  100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
  }
}
@keyframes rotate-scale-up {
  0% {
    -webkit-transform: scale(1) rotateZ(0);
    transform: scale(1) rotateZ(0);
  }
  50% {
    -webkit-transform: scale(2) rotateZ(90deg);
    transform: scale(2) rotateZ(90deg);
  }
  100% {
    -webkit-transform: scale(1) rotateZ(180deg);
    transform: scale(1) rotateZ(180deg);
  }
}
