@import '../../styles/variables.scss';

.header {
  display: flex;
  justify-content: space-between;
  max-width: 1070px;
  width: 100%;
  padding: 0 25px;
  margin: 26px auto 0 auto;
  z-index: 99;
}
