.container {
  display: flex;
  justify-content: center;
  position: absolute;
  align-items: center;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100vw;
  height: 100%;
}
.contactsWrapper {
  display: flex;
  justify-content: space-around;
}
