@import '../../styles/variables.scss';

.container {
  @media screen and (min-width: $md) {
    display: flex;
    justify-content: center;
    // position: absolute;
    align-items: center;
    // top: 0;
    // left: 0;
    // z-index: 999;
    width: 100vw;
    height: 100%;
  }
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
.contactsWrapper {
  @media screen and (min-width: $md) {
    width: 100%;
  }
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

  color: #ffffff;
  padding-left: 168px;
  padding-right: 168px;
}
.title {
  @media screen and (min-width: $md) {
    opacity: 0;
    margin: 0;
    height: 0;
  }
  z-index: 10;
  margin: 0;
  opacity: 1;
  text-align: center;
  font-family: Gilroy, sans-serif;
  text-transform: lowercase;
  font-size: 48px;
  font-weight: 600;
  line-height: 1.23;
  color: #ffffff;
  margin-bottom: 32px;
}
.contactsTitle {
  @media screen and (min-width: $md) {
    margin: 0;
    font-size: 28px;
  }
  font-family: Gilroy, sans-serif;
  text-transform: lowercase;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 24px;
}

.linkWrapper {
  @media screen and (min-width: $md) {
    margin-top: 20px;
  }
  text-align: center;
  margin-bottom: 48px;
}
.socialLink {
  @media screen and (min-width: $md) {
    text-transform: lowercase;
    font-size: 24px;
    font-weight: 400;
    line-height: 1.2;
  }

  font-size: 18px;
  font-weight: 400;
}
.socialInput {
  @media screen and (min-width: $md) {
    margin-top: 17px;
  }
  margin-bottom: 34px;
}

.inputForm {
  @media screen and (min-width: $md) {
    position: relative;
  }
  display: flex;
  align-items: center;
}

.input {
  @media screen and (min-width: $md) {
    width: 280px;
    padding-right: 25px;
  }
  font-size: 20px;
  color: #fff;
  background-color: transparent;
  outline: none;
  border: none;
  border-bottom: 2px solid #ffffff;
  width: 200px;

  transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);

  &::placeholder {
    color: #ffffff;
  }
  &:hover {
    border-bottom: 2px solid #ffa837;
  }

  &:focus {
    border-bottom: 2px solid #ffa837;
  }
}
.inputBtn {
  @media screen and (min-width: $md) {
    position: absolute;
    top: 10%;
    right: 0;
  }
  margin-left: 15px;
  width: 20px;
  height: 20px;

  cursor: pointer;
  fill: #ffffff;
  &:hover,
  :focus {
    fill: #ffa837;
  }
}
