@import '../../styles/variables.scss';

.container {
  padding: 67px 20px 0 20px;
  color: #fff;
  max-width: $container;
  margin: 0 auto;
  overflow: hidden;
  @media screen and (min-width: $md) {
    display: flex;
    // justify-content: center;
    // align-items: center;
    // width: 100vw;
    // height: 100%;
  }
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // width: 100vw;
  // height: 100vh;
}
.contactsWrapper {
  @media screen and (min-width: $md) {
    width: 100%;
    flex-direction: row;
  }
  // @media screen and (max-width: 480px) {
  //   display: flex;
  //   flex-wrap: wrap;
  //   flex-direction: column;
  // }
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: column;

  color: #ffffff;
  max-width: 1070px;
  z-index: 10;
  animation: slide-in-elliptic-top-fwd 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
}
.title {
  @media screen and (min-width: $md) {
    opacity: 0;
    margin: 0;
    height: 0;
  }

  z-index: 10;
  margin: 0;
  opacity: 1;
  text-align: center;
  font-family: Gilroy, sans-serif;
  text-transform: lowercase;
  font-size: 48px;
  font-weight: 600;
  line-height: 1.23;
  color: #ffffff;
  margin-top: 0;
  margin-bottom: 32px;
}
.contactsTitle {
  @media screen and (min-width: $md) {
    margin: 0;
    font-size: 28px;
    text-align: start;
  }
  font-family: Gilroy, sans-serif;
  text-transform: lowercase;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 24px;
}

.linkWrapper {
  @media screen and (min-width: $md) {
    margin-top: 20px;
  }
  text-align: center;
  margin-bottom: 48px;
}
.socialLink {
  @media screen and (min-width: $md) {
    text-transform: lowercase;
    font-size: 24px;
    font-weight: 400;
    line-height: 1.2;
  }

  font-size: 18px;
  font-weight: 400;
  transition: all 150ms ease-out 110ms;
  &:hover,
  :focus {
    color: #ffa837;
    transform: scale(1.2);
  }
}
.socialInput {
  @media screen and (min-width: $md) {
    margin-top: 17px;
  }
  margin-bottom: 34px;
}

.inputForm {
  @media screen and (min-width: $md) {
    position: relative;
  }
  display: flex;
  align-items: center;
}

.input {
  @media screen and (min-width: $md) {
    width: 250px;
    padding-right: 25px;
  }
  font-size: 20px;
  color: #fff;
  background-color: transparent;
  outline: none;
  border: none;
  border-bottom: 2px solid #ffffff;
  width: 200px;

  transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);

  &::placeholder {
    color: #ffffff;
  }
  &:hover {
    border-bottom: 2px solid #ffa837;
  }

  &:focus {
    border-bottom: 2px solid #ffa837;
  }
}
.inputBtn {
  @media screen and (min-width: $md) {
    position: absolute;
    top: 10%;
    right: 0;
  }
  margin-left: 15px;
  width: 20px;
  height: 20px;

  cursor: pointer;
  fill: #ffffff;

  transition: all 150ms ease-out 110ms;
  &:hover,
  :focus {
    fill: #ffa837;
    transform: scale(1.3);
  }
}

.imageContainer {
  animation: slide-in-blurred-left 1.9s cubic-bezier(0.23, 1, 0.32, 1) both;
  @media screen and (min-width: $md) {
    position: absolute;
    left: 0;
    z-index: 1;
    width: 300px;
    height: 300px;
  }
  position: absolute;
  left: 0;
  z-index: 1;
  width: 175px;
  height: 175px;
}

@keyframes slide-in-elliptic-top-fwd {
  0% {
    -webkit-transform: translateY(-600px) rotateX(-30deg) scale(0);
    transform: translateY(-600px) rotateX(-30deg) scale(0);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) rotateX(0) scale(1);
    transform: translateY(0) rotateX(0) scale(1);
    -webkit-transform-origin: 50% 1400px;
    transform-origin: 50% 1400px;
    opacity: 1;
  }
}

@keyframes slide-in-blurred-left {
  0% {
    -webkit-transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
    transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) scaleY(1) scaleX(1);
    transform: translateX(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}
