@import '../../styles/variables.scss';

.footer {
  transition: $default-transition;
  background: rgba(255, 255, 255, 0);
  z-index: 99;

  @media (min-width: $md) {
    transform: translateY(0) !important;
  }

  &__content {
    display: flex;
    justify-content: end;
    max-width: 1200px;
    margin: 0 auto;
  }

  &__info {
    //font-family: Helvetica, sans-serif;
    width: 50%;
    line-height: 120%;
    font-weight: 300;
    font-size: 18px;
    display: none;
    //color: #ff006a;

    @media (min-width: $md) {
      display: block;
    }
  }

  &__social {
    width: 50%;

    @media (min-width: $md) {
      width: 25%;
    }
  }

  &__block {
    padding: 8px 11px 17px 11px;

    @media (min-width: $md) {
      padding: 20px 20px;
    }

    @media (min-width: $xl) {
      padding: 20px 55px 36px 50px;
    }
  }

  &__title {
    font-family:  Courier, monospace;
    color: #ffffff;
    font-weight: 700;
    font-size: 20px;
    margin: 0;
    text-align: center;

    @media (min-width: $md) {
      text-align: left;
    }
  }

  &__list {
    font-family:  Courier, monospace;
    list-style-type: none;
    padding: 10px 8px;
    margin: 0;
    border-radius: 10px;
    background: rgba(201, 196, 196, 0.2);
    @media (min-width: $md) {
      padding: 10px 8px;
    }

    & > * {
      //font-family: Helvetica, sans-serif;
      margin-top: 4px;
      line-height: 19.2px;
      font-size: 16px;
      font-weight: 400;
      word-wrap: break-word;
      text-align: center;

      @media (min-width: $md) {
        text-align: left;
      }
    }
  }

  &__socialList{
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    background: rgba(201, 196, 196, 0.2);
    @media (min-width: $md) {
      padding: 20px 8px;
    }

    & > * {
      //font-family: Helvetica, sans-serif;
      margin-top: 4px;
      line-height: 19.2px;
      font-size: 16px;
      font-weight: 400;
      word-wrap: break-word;
      text-align: center;

      @media (min-width: $md) {
        text-align: left;
      }
    }
  }
}
.socialLink {
  display: inline-flex;
  align-items: center;

  @media screen and (min-width: $md) {
    //font-weight: bold;
    //font-size: large;
    //text-transform: lowercase;
  }


  transition: all 150ms ease-out 110ms;
  &:hover,
  :focus {
    color: #fae746;
    transform: scale(1.03);
    .socialLink__icon {
      fill: #fae746;
    }
  }

  &__icon{
    width: 16px;
    height: 16px;
    margin-right: 4px;
    transition: fill 150ms ease-out 110ms;
  }
  &__iconColor{
    width: 26px;
    height: 26px;
    margin-right: 4px;
    transition:  150ms ease-out 110ms;
    &:hover,
    :focus {
      transform: scale(1.3);

    }


  }

}
//.socialLinkIcon{
//  transition: all 150ms ease-out 110ms;
//  &:hover,
//  :focus {
//    color: #ffa837;
//    transform: scale(1.03);
//  }
//
//}
