.wrapper {
  display: flex;
  min-height: 100vh;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;

  &__blur {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100vh;
    backdrop-filter: blur(80px);
  }

  &_small-menu-open {
    overflow: hidden;
  }

  &__content {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100vw;
    min-height: 100vh;
    height: 100%;
  }
}
