.index {
  // position: relative;
  min-height: 100vh;
  height: 100%;
  transition: 350ms;
  letter-spacing: 0.03em;
  // width: 100vw;
  // overflow-x: hidden;

   //&_darkMode {
   //  background-color: #232323;
   //}
}
