@import './src/styles/variables';

.card {
  display: flex;
  flex-direction: column;

  @media (min-width: $md) {
    display: flex;
    justify-content: space-between;
    max-width: 316px;
    width: 100%;
    padding: 15px;
  }

  @media (min-width: $xl) {
    padding: 0;
    height: '100%';
  }

  &__img {
    max-width: 100%;
    object-fit: cover;
    border-radius: 9px;

    @media (min-width: $md) {
      height: 100%;
    }
  }

  &__title {
    height: 76px;
    font-family: Gilroy, sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 30.4px;
    margin: 16px 0;

    @media (min-width: $xl) {
      font-size: 32px;
      line-height: 38.4px;
    }
  }

  &__description {
    margin: auto 0 auto 0;
    font-size: 20px;
  }

  &__btn {
    margin: 17px auto 30px 0;
    transition: $default-transition;
    cursor: pointer;

    @media (min-width: $md) {
      margin: 17px 0 17px auto;
    }
  }
}

.backBtn {
  display: flex;
  justify-content: flex-end;
  // position: relative;
  // top: 3%;
  // right: 3%;
}
.svgBtn {
  width: 40px;
  height: 40px;
  fill: aliceblue;
  &:hover,
  :focus {
    animation: rotate-up 0.65s linear both;
    fill: #ffa837;
  }
}

@keyframes rotate-up {
  0% {
    -webkit-transform: scale(1) rotateZ(0);
    transform: scale(1) rotateZ(0);
  }
  50% {
    -webkit-transform: scale(1) rotateZ(180deg);
    transform: scale(1.5) rotateZ(180deg);
  }
  100% {
    -webkit-transform: scale(1) rotateZ(360deg);
    transform: scale(1) rotateZ(360deg);
  }
}
