@import '../../styles/variables.scss';

.header {
  &__content {
    display: flex;
    gap: 18px;
    margin-top: auto;
  }

  &__list {
    display: flex;
    flex-direction: column;
    padding: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 100;
    transform: translate(-50%, -50%);
    width: 100%;
    margin-bottom: 0;
    margin-top: 0;
    transition: $default-transition;
    list-style-type: none;

    @media (min-width: $md) {
      align-items: flex-end;
      flex-direction: row;
      position: static;
      transform: translate(0, 0);
      width: auto;
      margin-top: 13px;
    }

    &-item {
      font-family: 'Gilroy', Courier, monospace;
      font-size: 48px;
      font-weight: 700;
      line-height: 57.6px;
      text-align: center !important;
      transition: $default-transition;
      color: #202124;

      @media (min-width: $md) {
        font-size: 26px;
        font-weight: 400;
        line-height: 26.82px;
        text-align: left;
      }

      @media (min-width: $xl) {
        font-size: 32px;
        line-height: 32.82px;
      }

      &_dark-mode {
        color: #fff;
      }

      &:hover {
        color: #ffa837;
      }
    }
  }

  &__btn {
    cursor: pointer;
    transition: $default-transition;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: 13px;

    &_close {
      align-items: center;
      transform: rotate(45deg);
    }
  }
}
